.action-btn {
    color: #FFFFFF;
    background: #0078EE;
    transition: transform 0.3s ease;
    border: none;
    cursor: pointer;
    max-width: 674px;
    font-size: 18px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    width: 100%;
}

.action-btn:hover {
    background: #005fee;
}

.action-btn:active {
    transform: translateY(-5px)
}