.content-three-container {
    background: #F2F0F0;
    padding: 20px 21px;
    max-width: 716px;
    width: 716px;
    height: auto;
}

.content-three-wrapper {
    position: relative;
}

.main-content-wrapper{
    max-height: 350px;
    overflow-y: scroll;
}

.content-three-title {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 18px;
    color: #2B3343;
}

.content-three-form {
    overflow: hidden;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .content-three-container {
        max-width: 100%;
        height: auto;
    }

    .content-three-title {
        font-size: 24px;
        line-height: 30px;
    }
}

@media screen and (max-width: 480px) {
    .content-three-container {
        padding: 10px;
    }

    .content-three-title {
        font-size: 18px;
        line-height: 24px;
    }
}