.container {
    height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.tab-title {
    color: #2B3343;
    font-size: 24px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
}

.tab-btn {
    width: 27px;
    height: 27px;
    top: 169px;
    left: 336px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    gap: 10px;
    background: #0078EE;
    cursor: pointer;
    display: none;
}

.tab-btn:before {
    content: url("../../assets/images/whiteArrow.svg");
    display: inline-block;
    width: 9px;
    height: 13px;
}

.tab-btn.active:before {
    content: url("../../assets/images/blueArrow.svg");
}

.tab-btn.active {
    background: #FFFF;
}

.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;

}

.tabs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tab {
    /*//ТУТ ОШИБКА*/
    /*width: 718px;*/
    max-width: 718px;
    max-height: 140px;
    width: 100%;
    background-color: #F2F0F0;
}

.tab-content {
    cursor: pointer;
    padding: 26px 20px;
}

.tab-text-wrapper {
    overflow: hidden;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.tab:hover {
    background: #005fee;
    color: #FFFFFF;
}

.tab:hover .tab-title {
    color: #FFFFFF;
}

.active .tab,
.active .tab .tab-title {
    background: #0078EE;
    color: #FFFFFF;
}

.active .tab:hover {
    background: #005fee;
    cursor: pointer;
}

.active .tab:hover .tab-title {
    background: #005fee;
}

@media (max-width: 1200px) {
    .pageWrapper {
        flex-wrap: wrap;
    }

    .tab {
        max-height: none;
        height: auto;
    }
}
@media (max-width: 992px) {
    .tab-title {
        font-size: 20px;
        line-height: 24px;
    }

    .tab-btn {
        display: block;
    }

    .tab-text-wrapper {
        font-size: 12px;
        line-height: 14px;
    }
}
